.empty-data {
    background-image: url(/src/assets/images/plate.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100px;
    font-size: 30px;
}

.add-more {
    margin-left: 380px;
}

.check-out {
    margin-left: 530px;
}