.main{
    margin-left: 200px;
}

.heading {
    font-family: Snell Roundhand, cursive;
    font-size: 45px;
    color: #ff5900;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 10px;
}

.icon {
    background-image: url(/src/assets/images/restaurant.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
}

  .text {
    color: #322c55;
  }

  .text-desc {
    color: #524485;
  }

  .rounded-checkbox {
    width:18px;
    height: 18px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(13, 13, 14);
  }

  .line {
    background: rgb(40, 33, 74);
    color: #28214a;
    height: 2px;
  }

  .footer {
    position: fixed;
    z-index: 1;
    height: 125px;
    background-color: white;
  }

  .middle-container {
    height: 480px;
    padding-bottom: 10px;
    overflow-y: auto; 
  }
  