.form-container {
    background-color: #f2f7fb;
    padding: 25px 150px 150px 150px;
    height: 100vh;
}

.poster {
    background-image: url(/src/assets/images/login1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.addess-container {
    font-size: 14px;
    color: rgb(136, 136, 136);
    &:hover {
        color: #000000;
        text-decoration: underline;
        cursor: pointer;
    }
}

.register-container {
    &:hover {
        color: orange;
        text-decoration: underline;
        cursor: pointer;
    }
}
